.main-nav {
  position: relative;
}

.main-nav__mobile--close {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  min-height: 79px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__mobile-index {
  width: 86px;
  height: 35px;
  cursor: pointer;
}

.main-nav__mobile-logo {
  width: 86px;
  height: 35px;
  fill: @black;

  &&:hover {
    opacity: 0.6;
  }

  &&:active {
    opacity: 0.3;
  }
}

.main-nav__mobile-toggle {
  width: 20px;
  height: 14px;
  margin-right: 37px;
  margin-left: 60px;
  border: none;
  cursor: pointer;
  background-color: @white;
}

.main-nav__mobile-burger {
  width: 20px;
  height: 14px;
  fill: @black;
}

.main-nav__mobile--open {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 395px;
  width: 320px;
  background-color: @white;
  z-index: 2;
}

.hidden {
  display: none;
}

.main-nav__mobile-close {
  width: 21px;
  height: 21px;
  margin-right: 30px;
  margin-left: 67px;
  border: none;
  cursor: pointer;
  background-color: @white;
}

.main-nav__mobile-close-icon {
  width: 21px;
  height: 21px;
  fill: @black;
}

.main-nav__mobile-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main-nav__mobile-item {
  min-height: 79px;
  width: 320px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 0 0 #ececec;
  position: relative;
}

.main-nav__mobile-item:first-child {
  justify-content: flex-end;
}

.main-nav__mobile-link {
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @black;
  text-decoration: none;
  margin-left: 76px;
  border: none;

  &&:hover {
    opacity: 0.6;
  }

  &&:active {
    opacity: 0.3;
  }
}

.main-nav__mobile-link:hover .main-nav__mobile-icon {
  fill: #63d1bb;
}

.main-nav__mobile-link:active .main-nav__mobile-icon {
  fill: #63d1bb;
  opacity: 0.3;
}

.main-nav__mobile-button {
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @black;
  text-decoration: none;
  margin-left: 76px;
  padding: 0;
  border: none;
  background-color: @white;
  cursor: pointer;

  &&:hover {
    opacity: 0.6;
  }

  &&:active {
    opacity: 0.3;
  }
}

.main-nav__mobile-button:hover .main-nav__mobile-icon {
  fill: #63d1bb;
}

.main-nav__mobile-button:active .main-nav__mobile-icon {
  fill: #63d1bb;
  opacity: 0.3;
}

.main-nav__mobile-icon {
  width: 18px;
  height: 18px;
  fill: @black;
  opacity: 0.2;
  position: absolute;
  top: 32px;
  left: 32px;
}

.main-nav__tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav__tablet-upper {
  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    list-style-type: none;
    min-height: 89px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 1px 0 0 #ececec;
    z-index: 1;
  }
}

.main-nav__tablet-item:first-child {
  @media (min-width: @tablet-width) {
    height: 46px;
  }
}

.main-nav__tablet-item-icon {
  @media (min-width: @tablet-width) {
    fill: @black;
    margin-left: 48px;

    &&:hover {
      opacity: 0.6;
    }

    &&:active {
      opacity: 0.3;
    }
  }
}

.main-nav__tablet-link--search {
  @media (min-width: @tablet-width) {
    width: 82px;
    height: 89px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    margin-left: 209px;
    margin-right: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.main-nav__tablet-link-search {
  @media (min-width: @tablet-width) {
    width: 18px;
    height: 18px;
    fill: @black;
    opacity: 0.2;
    cursor: pointer;
  }
}

.main-nav__tablet-link-basket {
  @media (min-width: @tablet-width) {
    width: 21px;
    height: 18px;
    fill: @black;
    margin-right: 30px;
    opacity: 0.2;
  }
}

.main-nav__tablet-link {
  @media (min-width: @tablet-width) {
    font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    text-decoration: none;
    color: @black;
    display: flex;
    align-items: center;
  }
}

.main-nav__tablet-button {
  @media (min-width: @tablet-width) {
    font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    text-decoration: none;
    color: @black;
    display: flex;
    align-items: center;
    background-color: @white;
    padding: 0;
    border: none;
    cursor: pointer;
  }
}

.main-nav__tablet-lower {
  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
    list-style-type: none;
    min-height: 65px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #f1f1f1;
  }
}

.main-nav__lower-item:nth-child(1) {
  @media (min-width: @tablet-width) {
    margin-left: 50px;
  }
}

.main-nav__lower-item:nth-child(2) {
  @media (min-width: @tablet-width) {
    margin-left: 37px;
  }
}

.main-nav__lower-item:nth-child(3) {
  @media (min-width: @tablet-width) {
    margin-left: 133px;
  }
}

.main-nav__lower-link {
  @media (min-width: @tablet-width) {
    font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    text-decoration: none;
    color: @black;
  }
}

.main-nav__lower-link--lower {
  @media (min-width: @tablet-width) {
    font-size: 15px;
    line-height: 24px;
  }
}

.main-nav__lower-link--add {
  @media (min-width: @tablet-width) {
    font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: @gray;
  }
}

.main-nav__desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.main-nav__desktop-upper {
  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0;
    list-style-type: none;
    min-height: 89px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 1px 0 0 #ececec;
    z-index: 1;
  }
}

.main-nav__desktop-item {
  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;
    min-height: 89px;
  }
}

.main-nav__desktop-logo {
  @media (min-width: @desktop-width) {
    margin-left: 73px;
    margin-right: 100px;
    fill: @black;
    cursor: pointer;

    &&:hover {
      opacity: 0.6;
    }

    &&:active {
      opacity: 0.3;
    }
  }
}

.main-nav__desktop-item:first-child {
  @media (min-width: @desktop-width) {
    border-right: 1px solid #ececec;
    padding-right: 35px;
    margin-left: 52px;
  }
}

.main-nav__desktop-item:nth-child(2) {
  @media (min-width: @desktop-width) {
    margin-left: 35px;
  }
}

.main-nav__desktop-link {
  @media (min-width: @desktop-width) {
    font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    text-decoration: none;
    color: @black;
    display: flex;
    align-items: center;

    &&:hover {
      opacity: 0.6;
    }

    &&:active {
      opacity: 0.3;
    }
  }
}

.main-nav__desktop-link--add {
  font-weight: 400;
  color: @gray;
}

.main-nav__desktop-button {
  @media (min-width: @desktop-width) {
    font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    padding: 0;
    text-decoration: none;
    color: @black;
    display: flex;
    align-items: center;
    background-color: @white;
    border: none;
    cursor: pointer;

    &&:hover {
      opacity: 0.6;
    }

    &&:active {
      opacity: 0.3;
    }
  }
}

.main-nav__desktop-button:hover .main-nav__desktop-link-basket {
  fill: #63d1bb;
  opacity: 1;
}

.main-nav__desktop-button:active .main-nav__desktop-link-basket {
  fill: #63d1bb;
  opacity: 0.3;
}

.main-nav__desktop-icon {
  @media (min-width: @desktop-width) {
    width: 149px;
    height: 72px;
    fill: @black;
    margin-left: 75px;
    margin-right: 100px;
  }
}

.main-nav__desktop-link--lower {
  @media (min-width: @desktop-width) {
    font-size: 15px;
    line-height: 24px;
  }
}

.main-nav__desktop-link--search {
  @media (min-width: @desktop-width) {
    width: 82px;
    height: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    cursor: default;
  }
}

.main-nav__desktop-link--search:hover .main-nav__desktop-link-search {
  fill: #63d1bb;
  opacity: 1;
}

.main-nav__desktop-link--search:active .main-nav__desktop-link-search {
  fill: #63d1bb;
  opacity: 0.3;
}

.main-nav__desktop-link-search {
  @media (min-width: @desktop-width) {
    fill: @black;
    opacity: 0.2;
    cursor: pointer;
  }
}

.main-nav__desktop-link-basket {
  @media (min-width: @desktop-width) {
    width: 21px;
    height: 18px;
    fill: @black;
    margin-left: 31px;
    margin-right: 32px;
    opacity: 0.2;
  }
}

.main-nav__desktop-lower {
  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    min-height: 62px;
    align-items: center;
    background-color: #f1f1f1;
  }
}

.main-nav__desktop-item-lower:first-child {
  @media (min-width: @desktop-width) {
    margin-left: 50px;
    margin-right: 62px;
  }
}

.main-nav__desktop-item-lower:last-child {
  @media (min-width: @desktop-width) {
    margin-left: 502px;
  }
}
