.header {
  @media (min-width: @tablet-width) {
    width: 100%;
    background: linear-gradient(to bottom, #ffffff 53%, #f9f9f9 47%);
  }
}

.header--add {
  background: linear-gradient(to bottom, #ffffff 53%, #f1f1f1 47%);
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 79px;
  box-shadow: 0 1px 0 0 #ececec;
  position: relative;
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
    box-shadow: none;
  }

  @media (min-width: @desktop-width) {
    width: 1150px;
  }
}

.header__link {
  width: 86px;
  height: 35px;
  margin: 22px 67px 22px 116px;

  &&:hover {
    opacity: 0.6;
  }

  &&:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    position: absolute;
    top: 22px;
    left: 50px;
    width: 113px;
    height: 46px;
  }

  @media (min-width: @desktop-width) {
    left: 500px;
    width: 149px;
    height: 72px;
    top: 10px;
  }
}

.header__toggle {
  padding: 0;
  margin: 0;
  width: 20px;
  height: 14px;
  border: none;
  background-color: @white;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.header__navigation {
  width: 320px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    width: 768px;
    flex-direction: row;
    justify-content: flex-end;
  }

  @media (min-width: @desktop-width) {
    width: 1150px;
    justify-content: space-between;
  }
}

.header__navigation::before {
  @media (min-width: @tablet-width) {
    width: 768px;
    left: 0;
    position: absolute;
    content: "";
    height: 1px;
    top: 88px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  @media (min-width: @desktop-width) {
    width: 1150px;
  }
}

.header__main-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 320px;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    width: auto;
    order: 2;
    flex-direction: row;
    margin-right: 130px;
    min-height: 79px;
  }

  @media (min-width: @desktop-width) {
    order: 1;
  }
}

.header__main-item {
  min-height: 79px;
  display: flex;
  align-items: center;
  padding-left: 76px;
  box-shadow: 0 1px 0 0 #ececec;

  @media (min-width: @tablet-width) {
    box-shadow: none;
    padding-left: 0;
  }
}

.header__main-item:first-child {
  border-top: 1px solid #ececec;

  @media (min-width: @tablet-width) {
    margin-right: 37px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    margin-left: 50px;
  }
}

.header__main-link {
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @black;
  text-decoration: none;

  &&:hover {
    opacity: 0.6;
  }

  &&:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    font-size: 15px;
  }
}

.header__user-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 320px;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    width: auto;
    order: 1;
    flex-direction: row;
    min-height: 88px;
  }

  @media (min-width: @desktop-width) {
    order: 2;
  }
}

.header__user-item {
  position: relative;
  min-height: 79px;
  display: flex;
  align-items: center;
  padding-left: 76px;
  box-shadow: 0 1px 0 0 #ececec;

  @media (min-width: @tablet-width) {
    box-shadow: none;
  }
}

.header__user-item:last-child {
  @media (min-width: @tablet-width) {
    padding-right: 50px;
  }
}

.header__user-item--search {
  @media (min-width: @tablet-width) {
    padding-left: 0;
    width: 82px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.header__user-link {
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @black;
  text-decoration: none;

  &&:hover {
    opacity: 0.6;
  }

  &&:active {
    opacity: 0.3;
  }
}

.header__user-link--search {
  @media (min-width: @tablet-width) {
    font-size: 0;
  }
}

.header__user-icon {
  position: absolute;
  top: 32px;
  left: 31px;
  opacity: 0.2;
}

.header__user-link:hover .header__user-icon {
  fill: #63d1bb;
  opacity: 1;
}

.header__user-link:active .header__user-icon {
  fill: #63d1bb;
  opacity: 0.3;
}

.header__add-list {
  display: none;

  @media (min-width: @tablet-width) {
    margin: 0;
    position: relative;
    padding: 0;
    list-style-type: none;
    display: flex;
    order: 3;
    min-height: 79px;
    overflow: hidden;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    width: 1150px;
  }
}

.header__add-item {
  min-height: 79px;
  display: flex;
  align-items: center;
}

.header__add-item:first-child {
  @media (min-width: @desktop-width) {
    margin-left: 50px;
    margin-right: 50px;
  }
}

.header__add-item:not(:last-child) {
  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;
  }
}

.header__add-item:last-child {
  @media (min-width: @tablet-width) {
    margin-right: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 50px;
    margin-left: 450px;
  }
}

.header__add-link {
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: @black;
  text-decoration: none;

  &&:hover {
    opacity: 0.6;
  }

  &&:active {
    opacity: 0.3;
  }
}

.header__add-link--delivery {
  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: @gray;
  }
}
