.promo {
  display: flex;
  flex-direction: column;
  min-height: 506px;
  position: relative;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 373px;
  background-image: url("../img/index/background-promo-mobile.png");
  background-position: 0 -16px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index/background-promo-mobile@2x.png");
    background-size: 320px auto;
  }

  @media (min-width: @tablet-width) {
    min-height: 680px;
    background-image: url("../img/index/background-promo-tablet.png");
    background-position: 0 -65px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/background-promo-tablet@2x.png");
      background-size: 768px auto;
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/index/background-promo-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/background-promo-desktop@2x.png");
      background-size: 1150px auto;
    }
  }
}

.promo__wrapper-title {
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  width: 260px;
  text-align: center;
  margin-top: 73px;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 50px;
    width: 600px;
    margin-top: 90px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 53px;
    line-height: 57px;
    width: 700px;
    margin-top: 95px;
  }
}

.promo__add {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.promo__choice {
  padding: 0;
  padding-left: 31px;
  margin: 0;
  width: 320px;
  min-height: 103px;
  background-color: #63d1bb;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: -13px;
  left: 0;
  z-index: 1;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    padding-left: 36px;
    width: 334px;
    min-height: 119px;
    background-color: #63d1bb;
    bottom: 0;
    left: 50px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 37px;
    width: 525px;
    min-height: 116px;
  }
}

.promo__choice:last-child {
  bottom: -116px;
  left: 0;
  background-color: #56c3b2;

  @media (min-width: @tablet-width) {
    left: 384px;
    bottom: 0;
  }

  @media (min-width: @desktop-width) {
    left: 575px;
  }
}

.promo__choice-description {
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: @white;
  width: 90px;
  margin-bottom: 5px;
  display: flex;
  justify-content: start;
  text-align: start;

  @media (min-width: @tablet-width) {
    margin-bottom: 14px;
    line-height: 30px;
    margin-top: 6px;
  }
}

.promo__choice-lamp {
  fill: #149080;
  margin-right: 36px;
  margin-left: 20px;
  opacity: 0.5;

  @media (min-width: @desktop-width) {
    margin-right: 36px;
    margin-left: 20px;
    margin-top: 5px;
  }
}

.promo__choice-cube {
  fill: #149080;
  margin-right: 27px;
  opacity: 0.5;

  @media (min-width: @tablet-width) {
    margin-right: 34px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 35px;
    margin-top: 5px;
  }
}

.promo__choice:hover {
  min-height: 108px;

  @media (min-width: @tablet-width) {
    min-height: 124px;
  }
}

.promo__choice:hover .promo__choice-lamp {
  opacity: 1;
}

.promo__choice:hover .promo__choice-cube {
  opacity: 1;
}

.promo__choice:active .promo__choice-lamp {
  opacity: 0.3;
}

.promo__choice:active .promo__choice-cube {
  opacity: 0.3;
}

.promo-wave-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    position: absolute;
    bottom: -12px;
    left: 0;
    z-index: 1;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.promo-wave-desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    position: absolute;
    bottom: -18px;
    left: 0;
    z-index: 1;
  }
}
